.upvote-button {
  background-color: #f4f6f8;
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 5px;
}

.upvote-button.selected {
  background-color: #e5e8fd;
}

.arrow-up {
  fill: #343a40;
}

.arrow-up.selected {
  fill: #253cf2;
}
