.upvote-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
}

.upvote-list {
  border: 1px solid #e2e5e9;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: calc(100% - 60px);
}

.add-button {
  background-color: #f4f6f8; /* Same as default upvote button */
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}

.add-button:hover {
  background-color: #c1e0ff;
}
